@use "global" as *;

.c-colorbox {
  position: relative;
}

.c-colorbox__color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $color-primary;
}