@use "global" as *;

.c-diving-information-tab {
  display: inline-block;
  font-size: rem(24);
  line-height: calc(24 / 24);
  letter-spacing: rem(0);
  font-weight: $normal;
  color: $white;
  background-color: $color-primary;
  padding: rem(13) rem(30);
  overflow: hidden;
  z-index: 1;
  @include mq(md) {
  }
}

.c-diving-information-tab__inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.c-diving-information-tab__img {
  position: relative;
  width: rem(64);
  // margin-bottom: rem(64);
}

.c-diving-information-tab__img::before {
  content: "";
  display: block;
  padding-top: 100%; //このおかげで画像サイズ1:1を保てる！
}

.c-diving-information-tab__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-diving-information-tab__text {

}
