@use "global" as *;

.c-left-facing-fish {
  position: relative;
}
.c-left-facing-fish::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/common/pc-fish1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(109);
  height: rem(50);
  z-index: 1;
  @include mq("md") {
    width: rem(301);
    height: rem(138);
  }
}
