@use "global" as *;

.c-right-facing-fish {
  position: relative;
}
.c-right-facing-fish::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/common/pc-fishBlog2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: rem(120);
  height: rem(55);
  z-index: 1;
  @include mq("md") {
    width: rem(301);
    height: rem(138);
  }
}
