@use "global" as *;

.p-accordion-items {
  position: relative;
}

.p-accordion-items::before {
  background-image: url(../images/common/voice3.1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  width: 100%;
  max-width: rem(120);
  height: rem(55);
  position: absolute;
  top: -1.5375rem;
  left: calc(48% - min(44vw, 36rem));
  z-index: -1;

  @include mq(md) {
    max-width: 18.8125rem;
    height: 8.625rem;
    top: -4.4375rem;
    left: calc(47% - min(44vw, 37.5rem));
  }
}

.p-accordion-items__wrap + .p-accordion-items__wrap {
  margin-top: rem(38.4);

  @include mq(md) {
    margin-top: rem(33.6);
  }
}