@use "global" as *;

.p-blog-cards-sub {
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(1, 1fr);
  margin-top: 0;

  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
  }
}