@use "global" as *;

.p-campaign-top {
  overflow: hidden;
}

.p-campaign-top__inner {
}

.p-campaign-top__section-title {
  margin-bottom: rem(24);
}

.p-campaign-top__itemWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: rem(24);
  // justify-content: space-between;
  margin-bottom: rem(40);
  @include mq("md") {
    width: 100vw;
    column-gap: rem(40);
    margin-bottom: rem(80);
  }
}

.p-campaign-top__item {
  margin: 0;
  padding: 0;
  width: 74.66667vw;
  max-width: rem(280);
  flex-shrink: 0;
  @include mq("md") {
    width: calc(100% / 4 - rem(40) * 3 / 4);
    // width: 23.125vw;
    max-width: none;
  }
}

.p-campaign-top__button {
  display: flex;
  justify-content: center;
}
