@use "global" as *;

.p-campaign-top {
  // overflow: hidden;
}

.p-campaign-top__inner {
  position: relative;
}

.p-campaign-top__section-title {
  margin-bottom: rem(29);
  @include mq("md") {
    margin-bottom: rem(41);
  }
}

.p-campaign-top__arrowWrapper {
  display: none;
  @include mq("md") {
    display: flex;
    position: absolute;
    top: rem(0);
    right: 0;
    flex-direction: row;
    column-gap: rem(80);
    padding-right: 25px;
    margin-top: rem(-2);
  }
}

.p-campaign-top__arrowLeft,
.p-campaign-top__arrowRight {
  position: relative;
  width: rem(80);
  height: rem(80);
  border: 1px solid $color-primary;
  border-radius: 50%;
  right: auto;
  left: auto;
  margin: 0;
  --swiper-navigation-size: 0px;
}

.p-campaign-top__arrowLeft span,
.p-campaign-top__arrowRight span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: rem(40);
  background-color: $color-primary;
  height: 1px;
}

.p-campaign-top__arrowLeft span::after,
.p-campaign-top__arrowRight span::after {
  position: absolute;
  content: "";
  display: block;
  background-color: $color-primary;
  top: 0;
  // left: 0;
  width: rem(10);
  height: 1px;
  // transform: rotate(-45deg);
  // transform-origin: left center;
}

.p-campaign-top__arrowLeft span::after {
  // top: 0;
  left: 0;
  transform: rotate(-45deg);
  transform-origin: left center;
}

.p-campaign-top__arrowRight span::after {
  // top: 0;
  right: 0;
  transform: rotate(45deg);
  transform-origin: right center;
}

.p-campaign-top__swiper {
  overflow: hidden;
  margin-right: calc(50% - 50vw);
}

.p-campaign-top__itemWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  // column-gap: rem(24);
  // justify-content: space-between;
  margin-bottom: rem(40);
  @include mq("md") {
    // width: 130vw;
    // column-gap: rem(40);
    margin-bottom: rem(81);
  }
}

.p-campaign-top__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  height: auto;
  @include mq("md") {
  }
}

.p-campaign-top__button {
  display: flex;
  justify-content: center;
}
