@use "global" as *;

.p-mv {
  width: 100%;
  height: 100vh;
  min-height: rem(400);
}

.p-mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
  min-height: inherit;
}

.p-mv__slider,
.p-mv__img,
.p-mv__img img {
  height: inherit;
  min-height: inherit;
  width:  100%;
}

.p-mv__slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.p-mv-swiper-wrapper {
}

.p-mv-swiper-slide {}

.p-mv__img {
  display: block;
  height: 100%;
  min-height: inherit;
}

.p-mv__img img {
  height: inherit;
  min-height: inherit;
  object-fit: cover;
  width:  100%;
}

.p-mv__wrap {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-46.8%,-50%);
  color: #fff;
  text-align: center;

  @include mq(md) {
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.p-mv__title {
  font-size: rem(40);
  font-family: $second-font-family;
  font-weight: $normal;
  color: $white;
  letter-spacing: 0.54em;
  
  @include mq(md) {
    font-size: rem(73.6);
    letter-spacing: 0.64em;
    text-indent: rem(42);
  }
}

.p-mv__text {
  width: 100%;
  text-align: center;
  font-size: rem(20);
  font-family: $second-font-family;
  font-weight: $normal;
  color: $white;

  @include mq(md) {
    letter-spacing: 0;
  }
}

.js-swiper1 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}