@use "global" as *;

.p-price-table-list {
}

.p-price-table-list__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(40);
  @include mq("md") {
    row-gap: rem(80);
  }
}

.p-price-table-list__inner.l-inner {
  max-width: 750px;
  // padding-left: 25px;
  // padding-right: 25px;
}

.p-price-table-list__inner.c-right-facing-fish::after {
  display: block;
  top: rem(-22);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  @include mq("md") {
    top: rem(-70);
    left: rem(-245);
    width: rem(301);
    height: rem(138);
  }
}

.p-price-table-list__card {
  width: 100%;
}
