@use "global" as *;

.p-sidebar {
  margin-inline: auto;
  max-width: rem(600);
  width: 100%;
  padding-left: rem(24);
  padding-right: rem(24);
  margin-top: rem(90);

  @include mq(md) {
    margin-left: rem(80);
    max-width: rem(294);
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}

.p-sidebar__item + .p-sidebar__item {
  margin-top: rem(80);
}

.p-sidebar__title {
  position: relative;
  display: inline-block;
  font-size: rem(24);
  font-family: $base-font-family;
  font-weight: $normal;
  color: $black;
  padding: rem(7) 0 rem(7) rem(82);
  border-left: 8px solid $color-primary;
}

.p-sidebar__title::before {
  background-image: url(../images/common/whaleblack.webp);
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      height: rem(50);
      max-width: rem(50);
      position: absolute;
      right: 0;
      left: rem(25.2);
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      z-index: 1;
}

.p-sidebar__favorite-item {
  display: flex;
  margin-top: rem(24);
  padding: rem(16);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.p-sidebar__favorite-item > a {
  display: flex;
}

.p-sidebar__favorite-img {
  width: 50%;
}

.p-sidebar__favorite-img img {
  aspect-ratio: 121/90;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.p-sidebar__heading {
  width: 50%;
  margin-left: rem(16);
}

.p-sidebar__heading-dete {
  font-size: rem(12);
  font-family: $second-font-family;
  font-weight: $normal;
  line-height: calc(18/12);
  color: $black;
}

time.p-sidebar__heading-date {
  font-size:  rem(12);
  display: block;
}

p.p-sidebar__heading-title {
  white-space: nowrap;
}

.p-sidebar__reviews-items {
  margin-top: rem(24);
}

.p-sidebar__reviews-img img {
  aspect-ratio: 294/218;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.p-sidebar__reviews-category {
  font-size: rem(12);
  font-family: $base-font-family;
  font-weight: $normal;
  margin-top: rem(16);
}

.p-sidebar__reviews-title {
  font-size: rem(24);
  font-family: $base-font-family;
  font-weight: $medium;
  margin-top: rem(8);
}

.p-sidebar__button {
  margin-top: rem(40);
  text-align: center;
}

.p-sidebar__campaign-items {
  margin-top: rem(24);
}

.p-sidebar__campaign-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.p-sidebar__campaign-item + .p-sidebar__campaign-item {
  margin-top: rem(40);
}

.p-sidebar__campaign-img img {
  width: 100%;
  aspect-ratio: 294/188;
  object-fit: cover;
}

.p-sidebar__campaign-wrap {
  display: flex;
  flex-direction:column;
  flex-grow: 1;
  margin-top: rem(-1.2);
  padding: rem(18) rem(16) rem(24) rem(16);
}

.p-sidebar__campaign-meta {
  flex-grow: 1;
  border-bottom: 1px solid $color-primary;
}

.p-sidebar__campaign-title {
  font-size: rem(16);
  font-family: $base-font-family;
  font-weight: $medium;
  padding-bottom: rem(8);
  text-align: center;

  @include mq(md) {
    margin-top: rem(1.8);
  }
}

.p-sidebar__campaign-text {
  text-align: center;
  font-size: rem(14.4);
  line-height: calc( 24/ 16);
  margin-top: rem(8);

  @include mq(md) {
    line-height: calc( 24/ 16);
  }
}

.p-sidebar__campaign-body {
  display: flex;
  justify-content: center;
  margin-top: rem(8);
  align-items: flex-end;
}

.p-sidebar__campaign-price1 {
  text-decoration: line-through 3px $red;
  font-size: rem(20);
  font-family: $third-font-family;
  font-weight: $bold;
  line-height: 1;
  display: flex;
  align-items: flex-end;
}

.p-sidebar__campaign-price2 {
  font-size: rem(32);
  font-family: $third-font-family;
  font-weight: $bold;
  line-height: 1;
  color: $color-primary;
  margin-left: rem(16);
}

.p-sidebar__archive {
  margin-top: rem(24);
}

.p-sidebar__archive-header::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(10.6) 0 rem(7) rem(15.6);
  border-color: transparent transparent transparent $color-primary;
  position: absolute;
  top: 0;
  left: rem(7);
  bottom: rem(-5);
  margin: auto;
}

.p-sidebar__archive-header {
  position: relative;
  padding-left: rem(32);
  font-size: rem(24);
  font-weight: $normal;
  font-family: $base-font-family;
  color: $color-primary;
}

.p-sidebar__archive-header.is-open__a::before {
  transform: translateY(-50%) rotate(327.5deg);
  top: rem(9.4);
}

.p-sidebar__archive-text {
  display: block;
  position: relative;
  font-size: rem(24);
  font-weight: $normal;
  font-family: $base-font-family;
  color: $color-primary;
  max-width: rem(93);
  text-align: end;
  margin-top: rem(4);
}

.p-sidebar__archive-text::before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(13.2) 0 rem(8.4) rem(18.8);
  border-color: transparent transparent transparent $color-primary;
  position: absolute;
  top: rem(-0.4);
  left: rem(30);
  bottom: 0;
  margin: auto;
}

.p-sidebar__archive .p-sidebar__archive-container .p-sidebar__archive-body {
  display: none;
  padding: 0;
  box-sizing: border-box;
}