@use "global" as *;

.p-single__content {

}

// .p-single__content::before {
//   background-image: url(../images/common/_キンギョハナダイsub-campaign.png);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   content: "";
//   display: block;
//   height: 3.4375rem;
//   left: calc(46.5% - min(42vw, 35.5rem));
//   max-width: 7.5rem;
//   position: absolute;
//   top: -1.5375rem;
//   width: 100%;
//   z-index: -1;

//   @include mq(md) {
//     height: 8.625rem;
//     left: calc(46.5% - min(44vw, 35.5rem));
//     max-width: 18.8125rem;
//     top: rem(-70);
//   }
// }

.p-single__items {
  margin-top: rem(24);

  @include mq(md) {
    margin-top: rem(40);
  }
}

.p-single__item {
  position: relative;
  font-size: rem(16);
  font-weight: $normal;
  font-family: $base-font-family;
  line-height: calc( 24/ 16);
  padding-left: rem(30);
}

.p-single__item + .p-single__item {
  margin-top: rem(4);
}

.p-single__item::before {
  background-image: url(../images/common/starfish.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: rem(18);
    left: 0;
    max-width: rem(18);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}