@use "global" as *;

.p-voice {
  position: relative;
}

.p-voice::before {
  @include mq(md) {
    content: "";
    background-image: url(../images/common/pc-fishBlog2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: rem(-120);
    left: calc(50% - min(48%, rem(620)));
    width: rem(301);
    height: rem(138);
  }
}

.p-voice::after {
  @include mq(md) {
    content: "";
    background-image: url(../images/common/seahorse.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: calc(50% - min(48%, rem(540)));
    bottom: rem(-71);
    width: rem(71);
    height: rem(162);
  }
}

.p-voice__items {
  margin-top: rem(44);

  @include mq(md) {
    margin-top: rem(30);
  }
}

.p-voice__btn {
  text-align: center;
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(80);
  }
}