@use "global" as *;

.l-contact {
  margin-top: rem(99.2);

  @include mq(md) {
    margin-top: rem(140);
  }
}

.l-contact--about-page {
  margin-top: rem(106);
}

.l-contact.l-contact--single {
  margin-top: rem(107.2);

  @include mq(md) {
    margin-top: rem(140);
  }
}

.l-contact.l-contact--page-terms {
  margin-top: rem(105.6);

  @include mq(md) {
    margin-top: rem(140);
  }
}