@use "global" as *;

.l-footer {
  margin-top: rem(104);

  @include mq(md) {
    margin-top: rem(160);
  }
}

.l-footer--contact-page {
  margin-top: rem(148);
  @include mq(md) {
    margin-top: rem(164);
  }
}

.l-footer--thanks-page {
  margin-top: rem(143);
  @include mq(md) {
    margin-top: rem(120);
  }
}

.l-footer.l-footer--404-page {
  margin-top: rem(44.8);

  @include mq(md) {
    margin-top: rem(152);
  }
}

.l-footer.l-footer--page-terms {
  margin-top: rem(99.2);

  @include mq(md) {
    margin-top: rem(160);
  }
}