@use "global" as *;

.l-sub-blog-contents {
  max-width: rem(600);
  margin-inline: auto;
  padding-right: $padding-sp;
	padding-left: $padding-sp;
  display: flex;
  flex-direction: column;
  margin-top: rem(52);

  @include mq(md) {
    max-width: rem(1080);
    padding-right: $padding-pc;
		padding-left: $padding-pc;
    margin-top: rem(150);
    flex-direction: initial;
  }
}

.l-sub-blog-contents__wrap {
  max-width: rem(600);
  margin-inline: auto;

  @include mq(md) {
    max-width: rem(706);
  }
}